:root {
    --main-bg-color:#fff;
    --second-bg-color:#f5f5f5;
    --third--bg-color:#e3e3e3;
    --grey:#4b4b4b;
    --black:#c0392b;
    --top-header-size: 30px;
    --mid-header-size: 80px;
    --bottom-header-size: 45px;
    --btn-bg:#000;
    --btn-border-color: #000;
    --btn-border-color:#000;
    --btn-color:#fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    position: relative;
    background-color: var(--main-bg-color);
}

button {
    cursor: pointer;
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1366px;
    margin: auto;
    padding: 0 20px;
    position: relative;
}

.bg-second {
    background-color: var(--second-bg-color);
}

.bg-main {
    background-color: var(--main-bg-color);
}

.text-red {
    color: red;
}

.mobile-menu {
    align-items: center;
    justify-self: center;
    padding: 10px 20px;
    display: none;
}

.mb-menu-close {
    display: none;
}

.top-header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header ul {
    display: flex;
}

.top-header a {
    font-size: 13px;
}

ul.devided > li {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid;
}

ul.devided > li:last:child {
    border-right: none;
}

/* DROP DOWN */
.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.dropdown-content {
    display: flex;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 10px);
    background-color: #fff;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
    transition: all .4s cubic-bezier(0.77 , 0 , 0.175 , 1);
    z-index: 2;
}

.dropdown-content > li > a {
    padding: 10px;
}

.dropdown-content > li:hover {
    color: #c0392b;
}
/* END OF DROP DOWN */

.mid-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--main-bg-color);
}

.logo {
    font-size: 40px;
    font-weight: 700;
}

.mb-logo {
    font-size: 25px;
    font-weight: 700;
}

.search {
    width: 600px;
    height: 40px;
    position: relative;
}

.search input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    outline: 0;
    padding: 0 20px;
    border-radius: 10px;
    border: 0;
    background-color: var(--second-bg-color);
}

.search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20PX;
    font-size: 25PX;
    cursor: pointer;
}

.user-menu {
    display: flex;
}

.user-menu > li > a {
    font-size: 30px;
    margin-left: 15px;
}

.bottom-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu {
    display: flex;
    height: var(--bottom-header-size);
}

.main-menu > li > a {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-weight: 600;
    height: 100%;
    text-transform: uppercase;
}

.main-menu > li {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

.main-menu > li:hover {
    border-bottom: 2px solid red;
}

/* MEGA MENU*/

.mega-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    background-color: var(--main-bg-color);
    width: 100%;
    top: calc(100% + 100px);
    z-index: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
    transition: all .4s cubic-bezier(0.77 , 0 , 0.175 , 1);
}

.mega-dropdown:hover .mega-content {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.mega-content h3 {
    margin: 20px 0;
    ;padding-left: 20px;
}

.mega-content ul {
    display: flex;
    flex-direction: column;
}

.mega-content ul > li > a {
    font-weight: normal;
    padding: 10px 0;
    border-bottom: 2px dashed #f5f5f5;
    transition: padding-left .2s ease-in-out;
    margin: 0 20px;
}

.mega-content ul > li > a:hover {
    padding-left: 10px;
}

.mega-content ul > li:hover {
    border-bottom: 2px solid red;
}

/* END OF MEGA MENU*/

.box {
    padding: 20px;
}

.hero {
    height: calc(
        100vh - 
            (
                var(--top-header-size) + var(--mid-header-size) + var(--bottom-header-size)
            )
    );
    padding: 0 20px;
}

.slider,
.slider .container {
    height: 100%;
    position: relative;
}

.slide {
    height: 0;
    position: absolute;
    display: flex;
    inset: 0;
    overflow: hidden;
    visibility: hidden;
}

.slide.active {
    visibility: visible;
    height: 100%;
}

.slide .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 60px;
}

.info-content h2 {
    font-size: 70px;
    margin: 10px 0 35px;
}

.info-content button {
    margin-top: 30px;
}
.slide .img {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-flat {
    display: inline-block;
    border: 2px solid var(--btn-border-color);
    background-color: var(--btn-bg);
    color: var(--btn-color);
    padding: 15px 35px;
    font-size: 15px;
    outline: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-hover {
    transition: all .3s ease-in-out;
}

.btn-hover:hover {
    background-color: var(--btn-color);
    color: var(--btn-bg);
}

.slide-controll {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: 0;
    border: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    /* background-color: #cec3c3a8; */
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: -50px;
    transition: all .3s cubic-bezier(0.77 , 0 , 0.175 , 1);
}

.slide-controll:hover {
    background-color: var(--btn-bg);
    color: var(--btn-color);
}

.slider-next {
    right: -80px;
}

.slider-prev {
    left: -80px;
}

.slider:hover .slider-next{
    right: 50px;
}

.slider:hover .slider-prev{
    left: 50px;
}

/* SLIDER ANIMATION */

.top-down {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.77 , 0 , 0.175 , 1);
}

.slide.active .top-down {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.right-left {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.77 , 0 , 0.175 , 1);
}

.slide.active .right-left {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.left-right {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.77 , 0 , 0.175 , 1);
}

.slide.active .left-right {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}


/* END OF SLIDER ANIMATION */

.trans-delay-0-2 {
    transition-delay: 0.2s;
}

.trans-delay-0-4 {
    transition-delay: 0.4s;
}

.trans-delay-0-6 {
    transition-delay: 0.6s;
}

.trans-delay-0-8 {
    transition-delay: 0.8s;
}

.promotion {
    padding: 15px;
}

.promotion[class*="col-"] {
    padding: 15px;
}

.promotion-box {
    display: flex;
    background-color: var(--third--bg-color);
    position: relative;
}

.promotion-box .text {
    flex-grow: 1;
    padding: 20px;
   
}

.promotion-box .text h3 {
    font-size: 25px;

}


.promotion-box .text button {
    margin-top: 30px;
}

.promotion-box img {
    width: 174px;
    height: 190px;
    transition: transform 0.3s ease-in-out;
}

.promotion-box:hover img {
    transform: scale(1.1);
}

.section {
    padding: 60px;
}

.section-header,
.section-footer {
    text-align: center;
    margin: 80px 0 70px;
    text-transform: uppercase;
    font-size: 40px;
}

.section-header h2 {
    font-size: 50px;font-weight: bolder;
}

.product-card {
    background-color: var(--main-bg-color);
    transition: all .3s ease-in-out;
}

.product-card:hover {
    background-color: var(--second-bg-color);
}

.product-card-img {
    height: 280px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation: slideMe 2s ease-in; */
}

.product-card-img img {
    max-height: 100%;
    transition: all .3s ease-in-out;
}
/* .product-card-img img:nth-child(1){
    opacity: 1;
    visibility: visible;
} */

.product-card-img img:nth-child(2){
    display: none;
}

/* .product-card-img img:nth-child(3){
    visibility: hidden;
    opacity: 0;
    display: none;
} */

.product-card:hover .product-card-img img:nth-child(1){
    display: none;
}

.product-card:hover .product-card-img img:nth-child(2){
    display: block;
}

/* .product-card:hover .product-card-img img:nth-child(1){
    opacity: 0;
    visibility: visible;
    display: block;
} */

.product-card-info {
    padding: 20px;
    text-align: center;
    position: relative;
}

.product-card-name {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    /* background-color: #000; */
    /* border: 1px solid #e3e3e3;
    color: #fff; */
    /* box-shadow: 1px 3px 3px 2px grey; */
    animation: slideMe 1s ease-in;
}

@keyframes slideMe{
    0%{
        transform: skewX(5deg) translatez(-500px);
        opacity: 0;
    }
    60%{
        transform: translatez(0px);
        }
        62%{
            transform: skewX(0deg) translatez(30px);
        }
        70%{
            transform: skew(-20deg);
            opacity: 1;
        }
        80%{
            transform: skew(0deg) translate(0);
        }
        90%{
            transform: skew(-5deg);
        }
    100%{
        transform: skew(0deg);
    }
}

.product-card-price {
    font-size: 15px;
    animation: slideMe 1s ease-in;
}

.product-card-price .curr-price {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
    color: red;
    animation: slideMe 1s ease-in;
}

.product-btn {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all .3s ease-in-out;
    animation: slideMe 1s ease-in;
}

.product-card:hover .product-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.product-btn > * ~ * {
    margin-left: 5px;
}

.btn-shop-now, .btn-cart-add {
    font-size: 15px;
    padding: 5px 10px;
    line-height: 17px;
}

.sp-item-name {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.sp-item-description{
    margin-bottom: 60px;
    text-align: justify;
}

.sp-item-description li {
    padding-top: 5px;
}

.blog {
    display: flex;
    margin-bottom: 60px;
}

.blog-img , .blog-info {
    width: 50%;
}

.blog-info {
    padding: 50px;
}

.blog-title {
    font-size: 30px;
    margin-bottom: 30px;
}

.blog-preview {
    text-align: justify;
    margin-bottom: 50px;
}

footer {
    padding: 100PX 0;
}

.footer-head {
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer ul li {
    margin-bottom: 10px;
}

.contact-header {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 38px;
}

.contact-social {
    display: flex;
    justify-content: center;
}

.contact-social a {
    font-size: 30px;
    margin: 0 10px;
}

.contact-social a:hover {
    color: var(--grey);
}

.menu li a{
    text-transform: capitalize;
    transition: transform .3s ease-in-out;
}

.menu li a:hover {
    color: red;
    transform: translateX(10px);
}

.subscribe {
    position: relative;
    margin-top: 20px;
}

.subscribe input {
    width: 100%;
    height: 50px;
    outline: 0;
    border: 0;
    padding: 0 30px;
}

.subscribe button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    outline: 0;
    border: 0;
    color: var(--btn-color);
    background-color: red;
    padding: 10px;
    text-transform: uppercase;
}

.subscribe button:hover {
    background-color: #000;
}

.box-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: red;
    margin-bottom: 5px;
}

.in-text {
    width: 200px;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

.in-text i{
    justify-content: center;
    font-size: 2.5em;
    margin-bottom: 10px;
}
    
/* RESPONSIVE*/

@media only screen and (max-width: 1280px) {
    .mobile-menu {
        display: flex;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        overflow-x: auto;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--main-bg-color);
        z-index: 99;
        transition: right .3s ease-in-out;
    }

    .header-wrapper.active {
        right: 0;
    }

    .logo {
        font-size: 30px;
    }

    .mb-menu-close {
        display: block;
    }
}
