*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 96%;
    height: 110px;
    margin: 0 auto;
    border-bottom: 2px solid #e5e5e5;
}
header .logo{
    width: 15%;
    float: left;
    text-align: center;
}
header .logo h1{
    color: rgba(4, 1, 14, 0.938);
}
header .logo h1 span{
    color: rgb(94, 90, 90);
}
header .xx{
    width: 85%;
    float: left;
}
header .head,
header .search{
    width: 100%;
    float: left;
    height: 55px;
    display: flex;
    justify-content: left;
}
header .head ul li{
    list-style: none;
    float: left;
    padding: 10px;
    margin: 10px;
}
header .head ul li a{
    text-decoration: none;
    color: #757575;
    cursor: pointer;
}
header .head ul:nth-child(1){
    width: 55%;
}
header .search input{
    width: 70%;
    height: 40px;
    padding: 10px;
    color:#757575;
    border: 1px solid #e5e5e5;
    outline: none;
}
header .search a{
    width: 110px;
    height: 40px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    position: relative;
    text-decoration: none;
    color: #f5f5f5;
    background: black;
}
nav{
    width: 96%;
    height: 50px;
    margin: 0px auto;
    background: #050505;
}
nav ul li{
    list-style: none;
    float: left;
    padding: 10px;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    text-align: center;
    color: #f5f5f5;
    margin-left: 80px;
}
nav ul li a>i{
    margin-right: 10px;
}

main{
    width: 96%;
    height: auto;
    margin: 0px auto;
}
main .banner{
    width: 100%;
    height: 600px;
    background: #dcdacd;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
main .banner div h1{
    position: relative;
    top: 100px;
    left: 50px;
    letter-spacing: 10px;
    font-size: 30px;
    color: rgb(17, 4, 17);
}
main .banner div button{
    border: none;
    border-radius: 20px;
    outline: none;
    background: #080808;
    color: #f5f5f5;
    font-weight: bold;
    margin-left:50px;
    position: relative;
    padding: 10px;
    top: 200px;
    width: 100px;
}
main .banner div h1 span{
    color: mintcream;
    border: none;
    outline: none;
    background: #080808;
    border-radius: 20px;
    position: relative;
}
main .banner img{
    width: 1200px;
    height: auto;
}
.item-3{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    border-radius: 15px;
    color: #f5f5f5;
    margin-top: 10px;
}
.item-3 .inner-3{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.item-3 .inner-3 div{
    padding-top: 20px;
}
.item-3 .inner-3 div button{
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
    background: #f5f5f5;
    border-radius: 20px;
    color: #110b0b;
    box-shadow: 2px 2px 7px white;
    font-weight: bold;
}
.item-3 .inner-3 img{
    width: 125px;
    height: 100px;
    margin-left: 30px;
}
.item-3 h4{
    font-size: 20px;
}
.cl{
    width: 100%;
    height: 550px;
}
.cl h1{
    width: 100%;
    background: black;
    color:#f5f5f5;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
    text-shadow: 0.7px 0.5px black;
}
.sellers{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
}
.sellers .inner-sellers img{
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
}
.sellers .inner-sellers .inner-left{
    display: flex;
    justify-content: space-around;
    background: black;
    color: #f5f5f5;
    height: 80px;
    border-radius: 20px;
    font-size: 20px;
    margin: 5px 5px;
    box-shadow: 3px 3px 10px black;
}
.sellers .inner-sellers .inner-left button{
    width: 35%;
    height: 35px;
    align-self: center;
    border: none;
    outline: none;
    background: #f5f5f5;
    color: #030303;
    font-weight: bold;
    border-radius: 15px;
}
.large{
    width: 96%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
}
.large .inner-large{
    width: 32%;
    margin: 0px 5px;
}
.large .inner-large:nth-child(1){
    background: linear-gradient(90deg,#33818e 10%,#89cecc 70%);
}
.large .inner-large:nth-child(2){
    background: linear-gradient(90deg,#33818e 10%,#89cecc 70%);
}
.large .inner-large:nth-child(3){
    background: linear-gradient(90deg,#33818e 10%,#89cecc 70%);
}
.large .inner-large img{ 
   width: 100%;
}
.large .inner-large div{
    text-align: center;
 }
 .large .inner-large div h1{
    margin-top: 10px;
    font-weight: bold;
 }
 /* .large .inner-large:nth-child(2) div h1{
    color: #f5f5f5;
 } */
 footer{
     width: 96%;
     margin: 20px auto;
     height: 400px;
     padding-top: 20px;
     border-top: 2px solid #e5e5e5;
     display: flex;
     justify-content: space-around;
 }
 footer div p{
     margin: 30px auto;
 }
 footer div input{
     width: 70%;
     padding: 8px;
     border-top: 1px solid #e5e5e5;
 }
 footer div button{
     border-top: none;
     outline: none;
     background: #0c0c0c;
     color: #f5f5f5;
     font-weight: bold;
     margin-left: -4px;
     padding: 8px;
 }
 footer div i{
     padding: 10px 11.5px;
     border-radius: 50%;
     margin: 0px 10px;
     width: 40px;
     height: 40px;
     border: 1px solid #e5e5e5;
 }
 footer div ul li{
     list-style: none;
     margin: 10px auto;
 }
 footer ul li a{
     text-decoration: none;
     color: #757575;
 }

 