@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');

body {
  background: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
}

h1 {
  font-size: 40px;
  font-weight: 200;
  line-height: 50px;
}

h2 {
  font-size: 30px;
  line-height: 40px;
  margin-top: 0;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
}

h4 {
  color: #505050;
  font-size: 18px;
  line-height: 28px;
}

p {
  color: #757575;
  font-size: 16px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.5px;
}


/*---------------------------------------
  BUTTONS               
-----------------------------------------*/

.section-btn {
  margin: 32px 0 0 0;
  padding: 0;
}

.section-btn a,
.section-btn button {
  line-height: 45px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  color: #ffffff;
  font-weight: normal;
}

.section-btn a span,
.section-btn button span {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.5px;
  padding: 0 25px;
  background: #4dc47d;
  border-radius: 1px;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.csstransforms3d .section-btn a span::before,
.csstransforms3d .section-btn button span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  border-radius: 1px;
  color: #ffffff;
  padding: 0 25px;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.section-btn a:hover span,
.section-btn a:focus span,

.section-btn button:hover span,
.section-btn button:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .section-btn a:hover span::before,
.csstransforms3d .section-btn a:focus span::before,

.csstransforms3d .section-btn button:hover span::before,
.csstransforms3d .section-btn button:hover span::before {
  background: #000000;  
}


/*---------------------------------------
  GENERAL               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4dc47d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #000000;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #252525;
}

.section-title {
  position: relative;
  padding-bottom: 22px;
}

.parallax-section {
  background-attachment: fixed;
  background-size: cover;
}

#about, #project,
#team, #contact, footer {
  background: #ffffff;
}

#about,
#team, #contact {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}



/*---------------------------------------
  HOME             
-----------------------------------------*/

#home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
   align-items: center;
  height: 100vh;
  position: relative;
  padding-top: 10em;
}

#home h1 {
  color: #ffffff;
  font-size: 6em;
  line-height: 1.2em;
}

#home p {
  color: rgba(250,250,250,0.7);
}

#home .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
}

#home video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}


/*---------------------------------------
  ABOUT              
-----------------------------------------*/

#about {
  padding-top: 200px;
  padding-bottom: 150px;
}

.about-info h3 {
  font-size: 14px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin: 0;
}


/*---------------------------------------
  PROJECT              
-----------------------------------------*/

.project-item {
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

.project-overlay {
  background: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.project-info {
  padding: 12em 0;
}

.project-item img {
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.project-item:hover img {
  transform: scale(1.1);
}

.project-overlay h1 {
  color: #ffffff;
  margin: 0;
}
.project-overlay h3 {
  color: #d9d9d9;
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-top: 0;
}

.project-item:hover .project-overlay {
  opacity: 1;
}


/*---------------------------------------
   TEAM             
-----------------------------------------*/

#team .item {
  display: block;
  width: 100%;
  margin-bottom: 22px;
}

#team h3,
#team p {
  margin: 0;
}

.team-item {
  overflow: visible;
  position: relative;
  margin-top: 34px;
  margin-bottom: 16px;
}

.team-item img {
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.team-item:hover img {
  transform: scale(1.1);
}

.team-overlay {
  background: rgba(0,0,0,0.5);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.team-overlay .social-icon {
  position: relative;
  top: 45%;
}
.team-overlay .social-icon li a {
  background: #ffffff;
  color: #191919;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.team-item:hover .team-overlay {
  opacity: 1;
}

/* SOCIAL ICON */

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  border-radius: 100%;
  color: #292929;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  text-align: center;
  position: relative;
  margin: 4px 8px 0 8px;
}

.social-icon li a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


/*---------------------------------------
  MOBILE RESPONSIVE              
-----------------------------------------*/

@media (max-width: 992px) {
  #home h1 {
    font-size: 4em;
    line-height: normal;
  }
}

@media (max-width: 980px) {
  h1 {
    font-size: 30px;
    line-height: inherit;
  }

  #home {
    padding-top: 0em;
  }

  #about {
    padding-top: 120px;
    padding-bottom: 100px;
  }

  .project-info {
    padding: 4em 0;
  }
  
}

@media (max-width: 770px) {
  #home h1 {
    font-size: 3.5em;
  }
}

@media (max-width: 767px) {
  .custom-navbar {
    padding: 10px 0;
  }
  .custom-navbar .nav li a {
    display: inline-block;
    line-height: 15px;
    margin-bottom: 0;
  }
  .custom-navbar .nav li:last-child a {
    margin-bottom: 5px;
  }

  .project-info {
    padding: 10em 0;
  }

}


@media (max-width: 580px) {
  h1 {
    font-size: 26px;
  }

  #home {
    height: 100vh;
  }

  .about-info h3 {
    font-size: 12px;
    letter-spacing: 6px;
  }

  .project-info {
    padding: 5em 0;
  }
}